@tailwind components;
@tailwind utilities;
@tailwind base;

@layer components {
  .MainImage {
    border-radius: 0.75rem;
    height: 20rem;
    width: 100%;
    object-fit: cover;
  }

  .InlineCode {
    background-color: #dddddd;
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    white-space: nowrap;
  }

  .dark .InlineCode {
    background-color: #222222;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
  }

  .InlineCode {
    display: inline;

    border-radius: 0.3rem;

    padding: 0.25rem 0.75rem;
    margin-inline: 0.2rem;
    font-size: 1rem;
  }

  .Highlight {
    color: #ff8f00;
  }

  .dark .Highlight {
    color: #f3c52c;
  }

  .Highlight {
    display: inline;
    font-weight: 600;
  }
}

.clip-path-inset {
  clip-path: inset(0);
}


/*
 *
 * Code highlighter styling
 *
 */

.ch-frame-buttons {
  display: none !important;
}

.ch-code-scroll-parent {
  position: relative !important;
  height: auto !important;
}

.ch-code-scroll-content > * {
  position: relative !important;
  transform: translateY(0) !important;

  margin-block: 1rem;
}

.ch-code-scroll-content {
  position: relative !important;
  height: max-content !important;
}

.ch-code-wrapper {
  position: relative !important;
  height: max-content !important;
}

.ch-editor-frame > *:last-child {
  all: unset !important;
  position: relative !important;
  /* padding-block: 1rem !important; */

  transition-property: height !important;
  transition-duration: 300ms !important;
  transition-timing-function: ease !important;
}

.ch-editor-frame {
  height: max-content !important;
  max-height: 500px !important;
}

.ch-code-line-number {
  margin-left: 0.4rem !important;
}

.ch-code-scroll-content > div > div {
  margin-left: 0.5rem !important;
}