@tailwind components;
@tailwind utilities;
@tailwind base;

@layer components {
  .light-mode {
    display: block;
  }

  .dark-mode {
    display: none;
  }

  .dark .dark-mode {
    display: block;
  }

  .dark .light-mode {
    display: none;
  }

  .MainImage {
    border-radius: 0.75rem;
    height: 20rem;
    width: 100%;
    object-fit: cover;
  }

  .InlineCode {
    background-color: #dddddd;
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    white-space: nowrap;
  }

  .dark .InlineCode {
    background-color: #222222;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
  }

  .InlineCode {
    display: inline;

    border-radius: 0.3rem;

    padding: 0.25rem 0.75rem;
    margin-inline: 0.2rem;
    font-size: 1rem;
  }

  .Highlight {
    color: #ff8f00;
  }

  .dark .Highlight {
    color: #f3c52c;
  }

  .Highlight {
    display: inline;
    font-weight: 600;
  }
}

.card-transition {
  transition: max-height 500ms ease-in-out, opacity 300ms ease 100ms;
}

.clip-path-inset {
  clip-path: inset(0);
}

.fade-image {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/*
 *
 * Code highlighter styling
 *
 */

.ch-codeblock {
  filter: none !important;
  box-shadow: none !important;
}

.ch-frame-buttons {
  display: none !important;
}

.ch-code-scroll-parent {
  position: relative !important;
  height: auto !important;
}

.ch-code-scroll-content > * {
  position: relative !important;
  transform: translateY(0) !important;

  margin-block: 1rem;
  filter: drop-shadow(0 0 8px #ffffff10) !important;
}

.ch-code-scroll-content {
  position: relative !important;
  height: max-content !important;
  width: max-content !important;
  background-color: #222222 !important;
}

.ch-code-wrapper {
  position: relative !important;
  height: max-content !important;
}

.ch-editor-frame > *:last-child {
  all: unset !important;
  position: relative !important;

  transition-property: height !important;
  transition-duration: 300ms !important;
  transition-timing-function: ease !important;
}

.ch-code-button {
  filter: drop-shadow(0 0 3px #ffffff80) !important;
}

.ch-editor-frame {
  height: max-content !important;
  max-height: 500px !important;
}

.ch-code-line-number {
  margin-left: 0.4rem !important;
  color: #ffffff40 !important;
  filter: drop-shadow(0 0 2px #ffffff40) !important;
}

.ch-code-scroll-content > div > div {
  margin-left: 0.5rem !important;
}
