{
  "env": {
    "es2022": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["unicorn", "sonarjs", "jsx-a11y", "react"],
  "rules": {
    "unicorn/better-regex": "error"
  },
  "globals": { "JSX": true, "React": true },
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:sonarjs/recommended",
    "plugin:jsx-a11y/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime"
  ]
}
